.App {
  /* font-size: calc(10px + 2vmin); */
  color: white;
  min-height:100vh;
  position:relative;
}

/*Login.css, SignUp.css*/
.Login .LoginBox label,h3, .SignUp label,h3{
  color: #204da1; 
}

.Login .SignInTitle, .SignUp .SignUpTitle{
  margin-bottom: 20px;
}

.Login .SubmitButton, .SignUp .SubmitButton{
  margin-top: 5px;
  max-width: 150px;
}

/*Login.css*/
.Login .colLoginBox{
  width: 350px;
  margin-top: 100px;
}

.Login .Email{
  margin-bottom: 20px;
}

.Login .checkbox label{
  margin-top: 6px;
  font-size: 15px;
}

.Login .GoogleLogin{
  margin-top: 100px;
}

/*SignUp.css*/
.SignUp .colSignUpBox{
  width: 250px;
  margin-top: 100px;
}

.SignUp .FirstName{
  margin-bottom: 10px;
}

.SignUp .LastName{
  margin-bottom: 10px;
}

.SignUp .Email{
  margin-bottom: 10px;
}

/*Home.css, Profile.css, Login.css, SignUp.css*/
.Home .head, .Profile .head, .Login .head, .SignUp .head{
  background-color: #204da1;
}

.Home .title, .Profile .title, .Login .title, .SignUp .title{
  font-size:3em;
  padding-left: .5em;
}

.Home .searchBar input, .Profile .searchBar input{
  width: 90%;
  color: black;
  font-size: 1.75em;
}

/*Home.css, Profile.css*/
.Home .pic, .Profile .pic{
  border: 3px solid #DCDCDC;
}

.Home .footer, .Profile .footer{
  position:absolute;
  bottom:0;
  width:100%;
  background-color: #41506c;
  border: 1em solid #DCDCDC;
}

.Home .userID, .Profile .userID{
  font-size:.8em;
  color: #DCDCDC;
}

.Home .user ul, .Profile .user ul{
  margin-top: .5em;
  font-size: 1.25em;
  list-style-type: none;
}

/*Home.css*/
.Home .filters{
  background-color: #355185;
  border: 5px solid #DCDCDC;
}

.Home .projects{
  background-color: #DCDCDC;
  border: 5px solid #DCDCDC;

}

.Home .create{
  height:30em;
}
