.App {
  /* font-size: calc(10px + 2vmin); */
  color: white;
  min-height:100vh;
  position:relative;
}

.title {
  font-size:3em;
  padding-left: .5em;
}

.create {
  height:35em;
}

.container{
  display: inline-block;
  margin:0;
}
.Name{
  margin-top: 30px;
  text-align: left;
  color: #4adbe8;
  font: italic bold 30px Georgia;
}

.box{
  padding-right: 30px;
}

.form{
  margin: 0 auto;
  text-align:center;
  width: 300px;
  margin-top: 70px;
}

.SubmitButton{
  max-width: 300px;
}



.head {
  background-color: #204da1;
}

.pic{
  border: 3px solid #DCDCDC;
}

.filters {
  background-color: #355185;
  border: 5px solid #DCDCDC;
}

.projects{
  background-color: #DCDCDC;
  border: 5px solid #DCDCDC;

}

.back {
  background-color: #DCDCDC;
}

.footer{
  position:absolute;
  bottom:0;
  width:100%;
  background-color: #41506c;
  border: 1em solid #DCDCDC;
}

.userID {
  font-size:.8em;
  color: #DCDCDC;
}

input{
  width: 90%;
  color: black;
  font-size: 1.75em;
}

.user ul{
  margin-top: .5em;
  font-size: 1.25em;
  list-style-type: none;
}
