.App {
  
}

.container{
  display: inline-block;
  margin:0;
}
.Name{
  margin-top: 30px;
  text-align: left;
  color: #4adbe8;
  font: italic bold 30px Georgia;
}

.search{
  margin: 0;
  margin-top: 0;
  padding-left: 350px;
  max-width: 700px;
}

.box{
  padding-right: 30px;
}

.form{
  margin: 0 auto;
  text-align:center;
  width: 300px;
  margin-top: 70px;
}

.SubmitButton{
  max-width: 300px;
}