.musicsheet {
	height: 800px;
	width: 80%;
	overflow-y: scroll;
	margin-right: 5%;
	margin-left: auto;
}

.noteBar {
	height: 130px;
	/* width: 90%; */


}

.sheet {
	width: 100%;
	height: 11in;
	background: white;
	padding: 0 1in;
}

.doc_title {
	color: black;
}

.addStaffBtnContainer {
	position: relative;
	margin-top: 100px;
	top: 35px;
	width: 60px;
	height: 100px;
	display: inline-block;
}

#addStaffBtn {
	margin: 0;
	margin-left: 15px;
	height: 100px;
	background: white;
	color: black;
}
