.musicsheet {
	height: 800px;
	width: 80%;
	overflow-y: scroll;
	margin-right: 5%;
	margin-left: auto;
}

.noteBar {
	height: 125px;
	/* width: 90%; */
	overflow-y: scroll;
	overflow-x: hidden;
}

.selected {
	background: red;
}

.sheet {
	width: 100%;
	height: 11in;
	background: white;
	padding: 0 1in;
}

.doc_title {
	color: black;
}

.instrumentMenu {
	position: relative;
	margin-top: 15px;
}

#instruments {
	list-style-type: none;
	padding-left: 5px;
	/* margin: 0; */
}

.instrumentlabel {
	color: black;
}

.addStaffBtnContainer {
	position: relative;
	margin-top: 50px;
	/*top: 35px;*/
	width: 60px;
	height: 100px;
	display: inline-block;
}

.ksig {
	cursor: pointer;
	display: inline;
	font-size: 1.6em;
	margin-right: 15px;
	margin-left: 15px;
}

.ksigmiddle {
	font-size: 1.8em;
}

.keySigTB {
	user-select: none
}


.document {
	background-color: #727272;
	margin-left: 0px;
}

.inpNotes {
	margin-top: 15px;
	margin-bottom: 10px;
}

.footer {
	position: absolute;
	bottom: 0;
	background-color: #727272;
	margin-left: 1%;
	/* border: 1em solid #DCDCDC; */
	padding-left: 12px;
	/* margin-left: 0px; */
	width: 96%;
	max-width: 98%
}

.musicsheet {
	/* padding-bottom: 15px; */
}

.footer {
	position: absolute;
	bottom: 0;
	background-color: #727272;
	margin-left: 1%;
	/* border: 1em solid #DCDCDC; */
	padding-left: 12px;
	/* margin-left: 0px; */
	width: 96%;
	margin-bottom: 10px;
}



#addStaffBtn {
	margin: 0;
	margin-left: 15px;
	height: 100px;
	background: white;
	color: black;
}