/*Home.css*/
.Home {
  background-color: #368BC1;
  overflow-x: hidden;
  overflow-y: hidden;
}

.filters {
  background-color: lightblue;
  border: 5px solid lightblue;
  height: 500px;
  box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.5),
  6px -6px 12px rgba(220, 220, 220, 0.3);
  border-radius: 12px;
  margin: 10px;
}

.projects {
  background-color: lightblue;
  margin-left: 10px;
  box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.5),
  6px -6px 12px rgba(220, 220, 220, 0.3);
  border-radius: 12px;
  margin: 10px;
}


.hotBar{
  box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.5),
  6px -6px 12px rgba(220, 220, 220, 0.3);
  border-radius: 12px;
  margin: 10px;
  background-color: lightblue;
}
.searchBar input {
  width: 100%;
  color: lightblue;
  font-size: 1.75em;
}

.pic {
  border: 3px solid #DCDCDC;
}

.footHolder {
  height: 30px;
}

.Homefooter {
  bottom: 0;
  padding-left: 25px;
  width: 100%;
}

.userID {
  font-size: .8em;
  /*color: #DCDCDC;*/
}

.user ul {
  margin-top: .5em;
  font-size: 1.25em;
  list-style-type: none;
}

