/*Login.css*/
.Login{
  max-height: 100%;
  background-color: lightblue;
  overflow-y: hidden !important;
  overflow-x: hidden;
}
.colLoginBox {
  width: 250px;
  max-width: 250px;
  margin-top: 75px;
  overflow-y: hidden !important;
}

.Email {
  margin-bottom: 20px;
}

.checkbox label {
  margin-top: 6px;
  font-size: 15px;
}


.custom-checkbox label
{
  color: black;
}

.SignInTitle {
  margin-bottom: 20px;
}

.SignInTitle h3{
  color: black;
}

.SubmitButton {
  margin-top: 5px;
  max-width: 150px;
}

.logoRow {
  margin-bottom: 0;
  max-height: 75px;
}

.filler{
  margin-bottom: 17.5%;
  color: lightblue;
  overflow-y: hidden;
}