.note {
	position: relative;
	height: 100px;
	display: inline-block;
	margin-right: 45px;
	border-bottom: none;
}

.flagnote {
	margin-right: 30px;
	border-bottom: none;
}

.flag {
	position: relative;
	width: 30px;
	object-fit: cover;
	top: -53px;
	left: -3px;
}

.flag:only-of-type {
	top: -70px;
}

.flag:nth-of-type(2) {
	top: -33px;
	left: -33px;
	margin-right: -30px;
}

.flag:nth-of-type(3) {
	top: -13px;
	left: -33px;
	margin-right: -30px;
}

.note.NTB {
	margin-top: 0;
}

.note.NTBR {
	margin-top: 0;
}

.note.R {
	margin-top: -100px;
}

.note.E {
	margin-top: -90px;
}

.note.F {
	margin-top: -100px;
}

.note.G {
	margin-top: -112.5px;
}

.note.A {
	margin-top: -124px;
}

.note.B {
	margin-top: -137.5px;
}

.note.C {
	margin-top: -149px;
}

.note.D {
	margin-top: -162.5px;
}

.flagnote.E {
	margin-top: -90px;
}

.flagnote.F {
	margin-top: -50px;
}

.flagnote.G {
	margin-top: -56px;
}

.flagnote.A {
	margin-top: -124px;
}

.flagnote.B {
	margin-top: -68px;
}

.flagnote.C {
	margin-top: -74px;
}

.flagnote.D {
	margin-top: -81px;
}

.note:hover {
	background: darkred;
}

.vline {
	width: 100%;
	height: 87.5px;
	border-right: solid 4px black;
}

.vlineInvis {
	width: 100%;
	height: 87.5px;
	border-right: solid 0px black;
}

.circle {
	margin-top: -12.5px;
	width: 30px;
	height: 25px;
	border-radius: 50%;
	z-index: 2;
	background: black;
}

.dots {
	display: inline-block;
	position: relative;
	top: -25px;
	left: 30px;
}

.dots.special {
	top: 25px;
}

.dots.special2 {
	top: -12.5px;
}

.dot {
	margin-left: 5px;
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: black;
}