/*SignUp.css*/
.SignUp {
  background-color: lightblue;
  overflow-y: hidden !important;
  overflow-x: hidden;
}

.colSignUpBox {
  width: 250px;
  margin-top: 0px;
  overflow-y: hidden !important;
}

.FirstName {
  margin-bottom: 10px;
}

.LastName {
  margin-bottom: 10px;
}

.Email {
  margin-bottom: 10px;
}

.Password {
  margin-bottom: 10px;
}

.FirstName p{
  font-color: #FFF;
}

.SignUpTitle {
  margin-bottom: 20px;
}

.SubmitButton {
  margin-top: 10px;
  max-width: 150px;
}

.toLogin {
  padding-left: 20px;
}
.SignUp .filler{
  margin-bottom: 6.3%;
  color: lightblue;
  overflow-y: hidden !important;
}