.staff {
	display: inline-block;
	margin-top: 50px;
}

.bar {
	background: none;
	border: solid 3px black;
	border-bottom: none;
	height: 25px;
}

.bar.E,
.note.E {
	border-bottom: solid 3px black;
}

.notes {
	margin-left: 30px;
}