.vlineInvis {
	width: 100%;
	height: 87.5px;
	border-right: solid 0px black;
}

.whole_circle {
	margin-top: -12.5px;
	width: 30px;
	height: 25px;
	border-radius: 50%;
	z-index: 2;
	border: solid 6px black;
	background: none;
}
