.main {
  /* font-size: calc(10px + 2vmin); */
  /* top: 0; */

  min-height: 100%;
  position: relative;
  margin-bottom: 0;
}

.root {
  color: white;
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.section {
  background: #727272;
  box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.5),
    6px -6px 12px rgba(220, 220, 220, 0.3);
  border-radius: 12px;
  margin: 32px;
}

.btn {
  background: #727272;
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.5),
    3px -3px 6px rgba(220, 220, 220, 0.3);
  border-radius: 6px;
  margin: 12px;
  color: #DCDCDC;
  border: none;
}

.concave {
  background: #727272;
  box-shadow: inset -3px 3px 6px rgba(0, 0, 0, 0.5),
    inset 3px -3px 6px rgba(220, 220, 220, 0.3);
  color: #DCDCDC;
  border: none;
}

.v-line {
  border-left: 1px solid #DCDCDC;
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
}

.EditDocument .document {
  height: 700px;
  overflow-y: hidden;
}

.EditDocument .quickbar h4 {
  font-size: 100%;
}

.EditDocument .users h1 {
  font-size: 100%;
}

/*Login.css, SignUp.css*/
.Login .title h1 {
  margin: 0px;
  margin-top: 12px;
  margin-bottom: 12px;
  color: #DCDCDC;
}

.title p {
  margin: 0;
}

.Login .LoginBox label,
h3,
.SignUp label,
h3 {
  color: #DCDCDC;
}

.Login .SignInTitle,
.SignUp .SignUpTitle {
  margin-bottom: 20px;
}

.Login .SubmitButton,
.SignUp .SubmitButton {
  margin-top: 5px;
  max-width: 150px;
}

/*Login.css*/
.Login .colLoginBox {
  width: 350px;
  margin-top: 100px;
}

.Login .Email {
  margin-bottom: 20px;
}

.Login .checkbox label {
  margin-top: 6px;
  font-size: 15px;
}

.Login .GoogleLogin {
  margin-top: 100px;
}

/*SignUp.css*/
.SignUp .colSignUpBox {
  width: 250px;
  margin-top: 100px;
}

.SignUp .FirstName {
  margin-bottom: 10px;
}

.SignUp .LastName {
  margin-bottom: 10px;
}

.SignUp .Email {
  margin-bottom: 10px;
}

/*Home.css, Profile.css, Login.css, SignUp.css*/
.Home .head,
.Profile .head,
.Login .head,
.SignUp .head,
.EditDocument .head {
  background-color: #727272;
  margin-bottom: 0;
}

.Home .title,
.Profile .title,
.Login .title,
.SignUp .title {
  font-size: 3em;
  padding-left: .5em;
}

.Home .searchBar input,
.Profile .searchBar input {
  width: 90%;
  color: #DCDCDC;
  font-size: 1.75em;
}

/*Home.css, Profile.css*/
.Home .pic,
.Profile .pic {
  border: 3px solid #DCDCDC;
}

.Home .footer,
.Profile .footer,
.EditDocument .footer {
  position: absolute;
  bottom: 0;
  background-color: #727272;
  margin-left: 1%;
  /* border: 1em solid #DCDCDC; */
  padding-left: 12px;
  /* margin-left: 0px; */
  width: 96%;
  margin-bottom: 15px;
}

.Home .userID,
.Profile .userID {
  font-size: .8em;
  color: #DCDCDC;
}

.Home .user ul,
.Profile .user ul {
  margin-top: .5em;
  font-size: 1.25em;
  list-style-type: none;
}

/*Home.css*/
.Home .filters {
  background-color: #727272;
  /* border: 5px solid #DCDCDC; */
}

.Home .projects {
  background-color: #727272;
  margin-left: 0px;
  /* border: 5px solid #DCDCDC; */
}

/* EditDocument.css */
.EditDocument .document {
  background-color: #727272;
  margin-left: 0px;
}

.EditDocument .inpNotes {
  margin-top: 15px;
  margin-bottom: 10px;
}

.EditDocument .footer {
  position: absolute;
  bottom: 0;
  background-color: #727272;
  margin-left: 1%;
  /* border: 1em solid #DCDCDC; */
  padding-left: 12px;
  /* margin-left: 0px; */
  width: 96%;
  max-width: 98%
}

.EditDocument .musicsheet {
  padding-bottom: 15px;
}


.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.full-width {
  width: 100%;
}

.dropdown {
  padding-top: 5px;
  padding-left: -30px;
  padding-right: 0;
}
